@charset "utf-8";

:root {
  --primary-color: #0000ff;
  --danger-color: #ff0000;
  --success-color: #008000;
  --warning-color: #ffff00;
  --dark-color: black;
  --white-color: white;
  --secondary-color: gray;
}

:root {
  --z-index--1: -1;
  --z-index-1: 1;
  --z-index-100: 100;
  --z-index-150: 150;
}

body {
  font-family: "Exo", sans-serif;
  color: var(--white-color);
  background-color: var(--dark-color);
  font-size: 16px;
}

.start-display-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.start-display-text {
  font-size: 24px;
  font-weight: bold;
}

.select-box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.select-box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.select-box-type {
  font-size: 24px;
}

.game-selectbox {
  border: 1px solid var(--white-color);
  padding: 8px;
}

.start-btn-wrapper {
  width: 120px;
  height: 64px;
  border: 2px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  width: 100%;
  height: 100%;
  font-weight: bold;
}